.footer{
    width:100%;
    padding: 2rem;
    background: rgba(19,19,19,0.8);
}
.footer-container{
    max-width: 1140px;
    
}
.social{
   
    display: flex;
    justify-content: center;
    align-items: center;
}



@media  screen and (max-width:640px){

    .footer-container{
        grid-template-columns: 1fr;
    }

}